body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}
.boutoncreation
{
   margin-top: 50%;
margin-bottom: 50%;
}
footer
{
    text-align: justify;
    background-color: floralwhite;
}